.review-item {
    display: flex;
    width: 55%;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    margin: 21px auto;
}

.review-item img {
    width: 91px;
    margin: 8px;
}

.review-details-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px;

}

.review-details {
    text-align: space-between;
}

.product-name {
    font-size: 18px;
}

.review-details p {
    margin: 0px;
}

.review-details span {
    color: orange;
}

.btn-delete {
    width: 55px;
    height: 55px;
    border: 0px;
    border-radius: 50%;
    background-color: rgba(235, 87, 87, 0.3);
}

.btn-delete:hover {
    background-color: rgba(235, 87, 87, 0.5);
    cursor: pointer;
}

.delete-icon {
    color: #EB5757;
    font-size: 31px;
}